<%- include('layout/header/_header', {higher: true}) %>

<%- include('components/job-search-higher/_job-search-higher') %>

<main class="wrapper d-flex justify-content-between">
    <%- include('components/job-list/_job-list') %>
    <%- include('components/banner-3/_banner-3') %>
</main>
<%- include('components/hunter/_hunter') %>
<%- include('components/video/_video') %>
<%- include('components/giver/_giver') %>

<%- include('layout/footer/_footer', {jsFileName: 'higher'}) %>